
nomedkit

item_longjump

weapon_mp5
weapon_m16
weapon_handgrenade
ammo_9mmclip 15
ammo_556 1
ammo_ARgrenades 3

npc_dropweapons 0

mp_banana 0
mp_allowgaussjump 1
mp_allowmonsterinfo 0
mp_disable_autoclimb 1
mp_disablegaussjump 1
mp_disable_pcbalancing 1
mp_npckill 2
mp_survival_supported 1

## Physics stuff.
sv_accelerate 10
sv_airaccelerate 10
sv_airmove 1
sv_friction 4
sv_gravity 800
sv_maxspeed 320
sv_wateraccelerate 10
sv_waterfriction 1

map_script hc2/HC2
mp_survival_nextmap hc2_c4